---
apiVersion: v1
kind: Secret
metadata:
  name: hm-airbyte-secret
  namespace: production-hm-airbyte
  labels:
    app.kubernetes.io/name: airbyte
    app.kubernetes.io/part-of: production-hm-airbyte
stringData:
  POSTGRES_USER_NAME: airbyte_user
  POSTGRES_PASSWORD: xxx
  # The airbyte chart storageSecretName convention requires these exact key names
  s3-access-key-id: xxx
  s3-secret-access-key: xxx
