---
apiVersion: v1
kind: Secret
metadata:
  name: object-storage-secret
  namespace: production-hm-spark-jobs
  labels:
    app.kubernetes.io/name: object-storage-secret
    app.kubernetes.io/part-of: production-hm-spark-jobs
stringData:
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
