---
apiVersion: v1
kind: Secret
metadata:
  name: hm-falcosidekick-secret
  namespace: production-hm-falcosidekick
  labels:
    app.kubernetes.io/name: falcosidekick
    app.kubernetes.io/part-of: production-hm-falcosidekick
stringData:
  FALCOSIDEKICK_UI_USER: falcosidekick_admin_coati:xxx
