---
apiVersion: v1
kind: Secret
metadata:
  name: hm-pyroscope-secret
  namespace: production-hm-pyroscope
  labels:
    app.kubernetes.io/name: pyroscope
    app.kubernetes.io/part-of: production-hm-pyroscope
stringData:
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
