---
apiVersion: v1
kind: Secret
metadata:
  name: hm-prometheus-postgres-exporter-secret
  namespace: production-hm-prometheus-postgres-exporter
  labels:
    app.kubernetes.io/name: prometheus-postgres-exporter
    app.kubernetes.io/part-of: production-hm-prometheus-postgres-exporter
stringData:
  postgres_exporter.yml: |
    auth_modules:
      # production
      client.production-gatus:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
      client.production-grafana:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
      client.production-harbor:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
      client.production-mlflow:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
      client.production-polaris:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
      client.production-prefect-server:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
      client.production-skypilot:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
      client.production-trino-gateway:
        type: userpass
        userpass:
          username: postgres_exporter_user
          password: xxx
        options:
          sslmode: require
