---
apiVersion: v1
kind: Secret
metadata:
  name: hm-harbor-valkey-secret
  namespace: production-hm-harbor-valkey
  labels:
    app.kubernetes.io/name: harbor-valkey
    app.kubernetes.io/part-of: production-hm-harbor-valkey
stringData:
  VALKEY_PASSWORD: xxx
