.hmHome {
  display: flex;
  height: 100%;
}

.hmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hmContent {
  display: flex;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.hmText {
  margin: 0 0.5rem;
}

.hmEmoji {
  height: 1.25rem;
}
