.hm-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hm-content {
  display: flex;
}
.hm-content .hm-text {
  margin: 0 .5rem;
}
