# https://github.com/myoung34/docker-github-actions-runner#environment-variables
ACCESS_TOKEN={{ github_actions_runner_access_token }}
RUNNER_SCOPE=repo
REPO_URL={{ github_actions_runner_repo_url }}
RUNNER_WORKDIR=/tmp/github-actions-runner/work
DISABLE_AUTO_UPDATE=true
EPHEMERAL=true
RUN_AS_ROOT=false
