* @hongbo-miao

**/.nvmrc
**/.scalafmt.conf
**/.terraform.lock.hcl
**/build.properties
**/Cargo.lock
**/Cargo.toml
**/Dockerfile*
**/Gemfile
**/Gemfile.lock
**/build.gradle.kts
**/build.sbt
**/docker-compose*.yaml
**/go.mod
**/go.sum
**/kustomization.yaml
**/main.tf
**/package-lock.json
**/package.json
**/poetry.lock
**/pom.xml
**/pyproject.toml
**/requirements.txt
**/requirements.yml
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/gradlew.bat
**/plugins.sbt
.github/workflows/*.yml
