* @hongbo-miao

**/*.csproj
**/.java-version
**/.node-version
**/.python-version
**/.ruby-version
**/.scalafmt.conf
**/.terraform.lock.hcl
**/Cargo.lock
**/Cargo.toml
**/Dockerfile*
**/Gemfile
**/Gemfile.lock
**/build.gradle.kts
**/build.properties
**/build.sbt
**/docker-compose*.yaml
**/dotnet-tools.json
**/global.json
**/go.mod
**/go.sum
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/gradlew
**/gradlew.bat
**/kustomization.yaml
**/main.tofu
**/package-lock.json
**/package.json
**/plugins.sbt
**/pom.xml
**/pyproject.toml
**/requirements.txt
**/requirements.yaml
**/uv.lock
**/versions.tofu
.github/workflows/*.yml
