* @hongbo-miao

**/.nvmrc
**/.terraform.lock.hcl
**/Cargo.lock
**/Cargo.toml
**/Dockerfile*
**/Gemfile
**/Gemfile.lock
**/build.gradle.kts
**/docker-compose*.yaml
**/go.mod
**/go.sum
**/kustomization.yaml
**/main.tf
**/package-lock.json
**/package.json
**/poetry.lock
**/pom.xml
**/pyproject.toml
.github/workflows/*.yml
