---
apiVersion: v1
kind: Secret
metadata:
  name: hm-trino-secret
  namespace: production-hm-trino
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-trino-secret
    app.kubernetes.io/part-of: production-hm-trino
stringData:
  HM_POSTGRES_USER_NAME: xxx
  HM_POSTGRES_PASSWORD: xxx
