# https://docs.docker.com/engine/reference/builder/#dockerignore-file

.idea

**/.DS_Store
**/.env.development.local
**/.env.production.local
**/node_modules

web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/storybook-static
web/tmp

mobile/.expo

api/.clinic
api/build
api/dist

cypress/cypress/fixtures/example.json
cypress/cypress/screenshots

locust/__pycache__

neural-network/__pycache__
neural-network/dataset
neural-network/wandb
