# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Anywhere
**/.DS_Store
**/__pycache__
**/node_modules

# Root
/.idea
/.mypy_cache
/.vscode
/coverage

# Directories
api/.clinic
api/.stryker-tmp
api/build
api/coverage
api/public
api/reports
api/tmp
cypress/cypress/fixtures/example.json
cypress/cypress/screenshots
ethereum/build
mobile/.expo
mobile/coverage
mobile/tmp
neural-network/dataset
neural-network/wandb
web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/storybook-static
web/tmp


# .dockerignore specific
**/.env.development.local
**/.env.production.local

/.github
/.husky
/bin
/cypress
/ethereum
/kubernetes
/locust
/mobile
/neural-network
