# https://editorconfig.org

root = true

[*]
charset = utf-8
indent_size = 2
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.gradle]
indent_size = 4
indent_style = space

[{*.c,*.cpp,*.cu,*.cuh,*.h,*.hpp,*.ino}]
indent_size = 2
indent_style = space

[*.cs]
indent_size = 4
indent_style = space

[{*.csproj,*.xml}]
indent_size = 2
indent_style = space

[*.dbc]
indent_size = 4
indent_style = tab

[{*.ipynb,*.py}]
indent_size = 4
indent_style = space

[*.java]
indent_size = 2
indent_style = space

[*.jl]
indent_size = 4
indent_style = space

[{*.cjs,*.js,*.mjs,*.ts,*.tsx}]
indent_size = 2
indent_style = space

[*.json]
indent_size = 2
indent_style = space

[{*.kt,*.kts}]
indent_size = 4
indent_style = space

[*.m]
indent_size = 4
indent_style = space

[*.rego]
indent_size = 4
indent_style = tab

[*.rs]
indent_size = 4
indent_style = space

[*.scad]
indent_size = 4
indent_style = space

[*.scala]
indent_size = 2
indent_style = space

[*.sh]
indent_size = 2
indent_style = space

[*.sln]
indent_size = 4
indent_style = tab

[*.sol]
indent_size = 4
indent_style = space

[*.sql]
indent_size = 4
indent_style = space

[*.swift]
indent_size = 4
indent_style = space

[*.tf]
indent_size = 2
indent_style = space

[*.toml]
indent_size = 2
indent_style = space

[*.v]
indent_size = 2
indent_style = space

[*.vhd]
indent_size = 2
indent_style = space

[{*.yaml,*.yml}]
indent_size = 2
indent_style = space

[Caddyfile]
indent_size = 4
indent_style = tab

[Dockerfie]
indent_size = 2
indent_style = space

[{go.mod,*.go}]
indent_size = 4
indent_style = tab

[Makefile]
indent_size = 4
indent_style = tab

[*.p4]
indent_size = 2
indent_style = space

[*.WizardFile]
indent_size = 2
indent_style = space
