.idea

.DS_Store
.env.development.local
.env.production.local
hongbomiao.crt
hongbomiao.key
node_modules
yarn-error.log

web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/src/shared/libs
web/storybook-static
web/tmp

mobile/.expo

api/.clinic
api/build
api/dist

cypress/cypress/fixtures/example.json
cypress/cypress/screenshots

locust/__pycache__
