# https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file

# Anywhere
**/.DS_Store
**/__pycache__
**/node_modules

# Directories
api-node/.clinic
api-node/.stryker-tmp
api-node/build
api-node/coverage
api-node/public
api-node/reports
api-node/tmp
cypress/cypress/fixtures/example.json
cypress/cypress/screenshots
ethereum/build
mobile/.expo
mobile/coverage
mobile/tmp
web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/storybook-static
web/tmp

# .eslintignore specific
web/src/shared/libs
