# https://flake8.pycqa.org/en/latest/user/configuration.html
# https://black.readthedocs.io/en/stable/compatible_configs.html#flake8

[flake8]
max-line-length = 88
extend-ignore = E203, W503
exclude =
  # Anywhere
  **/.DS_Store
  **/__pycache__
  **/node_modules

  # Root
  /.idea
  /.mypy_cache
  /.vscode
  /coverage

  # Directories
  api/.clinic
  api/.stryker-tmp
  api/build
  api/coverage
  api/public
  api/reports
  api/tmp
  cypress/cypress/fixtures/example.json
  cypress/cypress/screenshots
  ethereum/build
  gin/public
  mobile/.expo
  mobile/coverage
  mobile/tmp
  neural-network/dataset
  neural-network/wandb
  web/.eslintcache
  web/.lighthouseci
  web/build
  web/coverage
  web/public/sitemap.xml
  web/storybook-static
  web/tmp
