# https://docs.github.com/en/github/using-git/ignoring-files

.idea

.DS_Store
.env.development.local
.env.production.local
coverage
node_modules
tmp

web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/storybook-static
web/tmp

mobile/.expo
mobile/coverage
mobile/tmp

api/.clinic
api/build
api/coverage
api/dist
api/tmp

cypress/cypress/fixtures/example.json
cypress/cypress/screenshots

locust/__pycache__
