# https://docs.github.com/en/github/using-git/ignoring-files

.idea

.DS_Store
.env.development.local
.env.production.local
node_modules
yarn-error.log

web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/storybook-static
web/tmp

mobile/.expo

server/.clinic
server/build
server/dist

cypress/cypress/fixtures/example.json
cypress/cypress/screenshots

locust/__pycache__
