[submodule "autoscaler"]
	path = submodules/autoscaler
	url = https://github.com/kubernetes/autoscaler
[submodule "sloop"]
	path = submodules/sloop
	url = https://github.com/salesforce/sloop
[submodule "helm-charts"]
	path = submodules/temporal/helm-charts
	url = https://github.com/temporalio/helm-charts
[submodule "connextdds-py"]
	path = submodules/connextdds-py
	url = https://github.com/rticommunity/connextdds-py
