# https://pycqa.github.io/isort/docs/configuration/options.html
# https://pycqa.github.io/isort/docs/configuration/black_compatibility.html

[settings]
profile = black
skip_gitignore = true
extend_skip = submodules
