# https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

# Anywhere
**/.DS_Store
**/__pycache__
**/node_modules

# Root
/.idea
/.mypy_cache
/.vscode
/coverage
/dump.rdb

# Directories
api-node/.clinic
api-node/.stryker-tmp
api-node/build
api-node/coverage
api-node/public
api-node/reports
api-node/tmp
convolutional-neural-network/convolutional-neural-network.iml
convolutional-neural-network/data
convolutional-neural-network/reports
convolutional-neural-network/wandb
cypress/cypress/fixtures/example.json
cypress/cypress/screenshots
ethereum/build
graph-neural-network/dataset
graph-neural-network/wandb
kubernetes/certificates
kubernetes/data/elastic-apm
mobile/.expo
mobile/coverage
mobile/tmp
streaming/.classpath
streaming/.project
streaming/.settings
streaming/dependency-reduced-pom.xml
streaming/src/main/resources/application.properties
streaming/streaming.iml
streaming/target
web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/storybook-static
web/tmp
