# https://prettier.io/docs/en/ignore.html#ignoring-files-prettierignore

# Anywhere
**/.DS_Store
**/__pycache__
**/node_modules

# Root
/.idea
/.vscode
/coverage

# Directories
api/.clinic
api/.stryker-tmp
api/build
api/coverage
api/dist
api/reports
api/tmp
cypress/cypress/fixtures/example.json
cypress/cypress/screenshots
ethereum/build
mobile/.expo
mobile/coverage
mobile/tmp
neural-network/dataset
neural-network/wandb
web/.eslintcache
web/.lighthouseci
web/build
web/coverage
web/public/sitemap.xml
web/storybook-static
web/tmp
