---
apiVersion: v1
kind: Secret
metadata:
  name: hm-open-webui-pipelines-secret
  namespace: production-hm-open-webui-pipelines
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-open-webui-pipelines-secret
    app.kubernetes.io/part-of: production-hm-open-webui-pipelines
stringData:
  pipelines_api_key: xxx
