---
apiVersion: v1
kind: Secret
metadata:
  name: hm-ray-cluster-valkey-secret
  namespace: production-hm-ray-cluster-valkey
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-ray-cluster-valkey-secret
    app.kubernetes.io/part-of: production-hm-ray-cluster-valkey
stringData:
  # https://github.com/bitnami/charts/issues/32225
  valkey-password: xxx
