---
apiVersion: v1
kind: Secret
metadata:
  name: hm-nats-secret
  namespace: production-hm-nats
  labels:
    app.kubernetes.io/name: hm-nats-secret
    app.kubernetes.io/part-of: production-hm-nats
stringData:
  NATS_AUTH_TOKEN: xxx
