---
apiVersion: v1
kind: Secret
metadata:
  name: hm-label-studio-secret
  namespace: production-hm-label-studio
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-label-studio-secret
    app.kubernetes.io/part-of: production-hm-label-studio
stringData:
  POSTGRES_USER_NAME: label_studio_user
  POSTGRES_PASSWORD: xxx
