# https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file

# Anywhere
**/*.iml
**/.DS_Store
**/.idea
**/.vscode
**/__pycache__
**/node_modules

# Directories
.expo
coverage
tmp
