---
apiVersion: v1
kind: Secret
metadata:
  name: hm-mimir-secret
  namespace: production-hm-mimir
  labels:
    app.kubernetes.io/name: mimir
    app.kubernetes.io/part-of: production-hm-mimir
stringData:
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
