---
apiVersion: v1
kind: Secret
metadata:
  name: hm-grafana-secret
  namespace: production-hm-grafana
  labels:
    app.kubernetes.io/name: hm-grafana-secret
    app.kubernetes.io/part-of: production-hm-grafana
stringData:
  GRAFANA_ADMIN_USER_NAME: xxx
  GRAFANA_ADMIN_PASSWORD: xxx
  POSTGRES_USER_NAME: grafana_user
  POSTGRES_PASSWORD: xxx
  GOOGLE_CLIENT_SECRET: xxx
