---
apiVersion: v1
kind: Secret
metadata:
  name: hm-vllm-secret
  namespace: production-hm-vllm
  labels:
    app.kubernetes.io/name: hm-vllm-secret
    app.kubernetes.io/part-of: production-hm-vllm
stringData:
  VLLM_API_KEY: xxx
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
