.hm-home {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hm-body {
  display: flex;
  height: 100%;
}

.hm-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hm-name-container {
  display: flex;
  padding: 0 0 0 12px;
}

.hm-name {
  font-size: 45px;
  font-weight: 700;
  color: hsl(221deg 14% 21% / 100%);
  text-transform: uppercase;
}

.hm-audio-player-wrapper {
  position: relative;
}

.hm-bio-container {
  display: flex;
  font-size: 1.5rem;
  color: var(--black);
  white-space: nowrap;
}

@media screen and (prefers-reduced-motion: reduce) {
  .hm-bio {
    margin: 0 10px;
    color: var(--black);
    transition: none;
  }
}

.hm-bio {
  margin: 0 10px;
  color: var(--black);
  transition: opacity 0.3s ease;
}

.hm-bio:hover,
.hm-bio:focus {
  opacity: 0.7;
}
