.hmHome {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hmBody {
  display: flex;
  height: 100%;
}

.hmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hmNameContainer {
  display: flex;
  padding: 0 0 0 57px;
}

.hmName {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.hmAudioPlayerWrapper {
  position: relative;
  top: -1rem;
}

.hmBioContainer {
  display: flex;
  margin: 5px 0 0;
  font-size: 20px;
  white-space: nowrap;
}

@media screen and (prefers-reduced-motion: reduce) {
  .hmBio {
    margin: 0 10px;
    color: var(--black);
    transition: none;
  }
}

.hmBio {
  margin: 0 10px;
  color: var(--black);
  transition: opacity 0.3s ease;
}

.hmBio:hover,
.hmBio:focus {
  opacity: 0.7;
}
