---
apiVersion: v1
kind: Secret
metadata:
  name: hm-spark-history-server-secret
  namespace: production-hm-spark-history-server
  labels:
    app.kubernetes.io/name: hm-spark-history-server-secret
    app.kubernetes.io/part-of: production-hm-spark-history-server
stringData:
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
