---
apiVersion: v1
kind: Secret
metadata:
  name: hm-gha-runner-scale-set-large-secret
  namespace: production-hm-gha-runner-scale-set-large
  labels:
    app.kubernetes.io/name: hm-gha-runner-scale-set-large-secret
    app.kubernetes.io/part-of: production-hm-gha-runner-scale-set-large
stringData:
  github_token: ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
