# https://github.com/confluentinc/librdkafka/blob/master/CONFIGURATION.md

[default]
bootstrap.servers=b-1.productioniotkafka.xxxxxx.xxx.kafka.us-west-2.amazonaws.com:9096,b-2.productioniotkafka.xxxxxx.xxx.kafka.us-west-2.amazonaws.com:9096,b-3.productioniotkafka.xxxxxx.xxx.kafka.us-west-2.amazonaws.com:9096
security.protocol=SASL_SSL
sasl.mechanism=SCRAM-SHA-512
sasl.username=iot_kafka_producer
sasl.password=xxx
# debug=all
