---
apiVersion: v1
kind: Secret
metadata:
  name: hm-starrocks-secret
  namespace: production-hm-starrocks
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-starrocks-secret
    app.kubernetes.io/part-of: production-hm-starrocks
stringData:
  password: xxx
