---
apiVersion: v1
kind: Secret
metadata:
  name: hm-trino-secret
  namespace: production-hm-trino-rabbit
  labels:
    app.kubernetes.io/name: trino
    app.kubernetes.io/part-of: production-hm-trino-rabbit
stringData:
  GOOGLE_CLIENT_SECRET: xxx
  INTERNAL_COMMUNICATION_SHARED_SECRET: xxx
  POLARIS_CREDENTIAL: polaris_admin_oryx:xxx
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
  # Generate bcrypt hash: htpasswd -n -b -B -C 10 trino_user_hm xxx
  password.db: |
    trino_user_hm:xxx
