---
apiVersion: v1
kind: Secret
metadata:
  name: hm-label-studio-secret
  namespace: production-hm-label-studio
  labels:
    app.kubernetes.io/name: label-studio-secret
    app.kubernetes.io/part-of: production-hm-label-studio
stringData:
  POSTGRES_USER_NAME: label_studio_user
  POSTGRES_PASSWORD: xxx
