---
apiVersion: v1
kind: Secret
metadata:
  name: hm-open-webui-pipelines-secret
  namespace: production-hm-open-webui-pipelines
  labels:
    app.kubernetes.io/name: open-webui-pipelines-secret
    app.kubernetes.io/part-of: production-hm-open-webui-pipelines
stringData:
  pipelines_api_key: xxx
