---
apiVersion: v1
kind: Secret
metadata:
  name: production-hm-airbyte-secret
  namespace: production-hm-airbyte
stringData:
  AIRBYTE_ADMIN_EMAIL: hongbo.miao@outlook.com
  AIRBYTE_ADMIN_PASSWORD: xxx
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
  POSTGRES_USER_NAME: airbyte_user
  POSTGRES_PASSWORD: xxx
  LOG_S3_BUCKET_REGION: us-west-2
  LOG_S3_BUCKET_NAME: production-hm-airbyte
