---
apiVersion: v1
kind: Secret
metadata:
  name: hm-harbor-secret
  namespace: production-hm-mlflow
  labels:
    app.kubernetes.io/name: harbor
    app.kubernetes.io/part-of: production-hm-mlflow
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "harbor.hongbomiao.com": {
          "username": "xxx",
          "password": "xxx"
        }
      }
    }
