---
apiVersion: v1
kind: Secret
metadata:
  name: hm-mlflow-secret
  namespace: production-hm-mlflow
  labels:
    app.kubernetes.io/name: hm-mlflow-secret
    app.kubernetes.io/part-of: production-hm-mlflow
stringData:
  POSTGRES_USER_NAME: xxx
  POSTGRES_PASSWORD: xxx
  MLFLOW_ADMIN_USER_NAME: xxx
  MLFLOW_ADMIN_PASSWORD: xxx
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
