---
apiVersion: v1
kind: Secret
metadata:
  name: hm-actions-runner-controller-secret
  namespace: production-hm-actions-runner-controller
  labels:
    app.kubernetes.io/name: hm-actions-runner-controller-secret
    app.kubernetes.io/part-of: production-hm-actions-runner-controller
stringData:
  github_token: ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
