[Unit]
Description=Speaches container service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PATH=/usr/bin:/bin
ExecStartPre=/usr/bin/env docker volume create {{ speaches_volume_name }}
ExecStartPre=/bin/sh -c '/usr/bin/env docker rm --force {{ speaches_container_name }} || true'
ExecStartPre=/usr/bin/env docker pull {{ speaches_docker_image }}
ExecStart=/usr/bin/env docker run \
  --publish={{ speaches_port }}:8000 \
  --name={{ speaches_container_name }} \
  --volume={{ speaches_volume_name }}:{{ speaches_volume_mount }} \
  --gpus=all \
  --detach=false \
  --env=HF_TOKEN={{ hugging_face_token }} \
  {{ speaches_docker_image }}
ExecStop=/usr/bin/env docker stop {{ speaches_container_name }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
