---
apiVersion: v1
kind: Secret
metadata:
  name: hm-clickhouse-secret
  namespace: production-hm-clickhouse
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-clickhouse-secret
    app.kubernetes.io/part-of: production-hm-clickhouse
stringData:
  CLICKHOUSE_ADMIN_PASSWORD: xxx
