---
apiVersion: v1
kind: Secret
metadata:
  name: horizon-clickhouse-secret
  namespace: production-horizon-clickhouse
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: horizon-clickhouse-secret
    app.kubernetes.io/part-of: production-horizon-clickhouse
stringData:
  CLICKHOUSE_ADMIN_PASSWORD: xxx
