---
apiVersion: v1
kind: Secret
metadata:
  name: hm-litellm-secret
  namespace: production-hm-litellm
  labels:
    app.kubernetes.io/name: litellm-secret
    app.kubernetes.io/part-of: production-hm-litellm
stringData:
  GEMINI_API_KEY: xxx
