---
apiVersion: v1
kind: Secret
metadata:
  name: hm-skypilot-valkey-secret
  namespace: production-hm-skypilot-valkey
  labels:
    app.kubernetes.io/name: hm-skypilot-valkey-secret
    app.kubernetes.io/part-of: production-hm-skypilot-valkey
stringData:
  VALKEY_PASSWORD: xxx
