---
apiVersion: v1
kind: Secret
metadata:
  name: horizon-grafana-secret
  namespace: production-horizon-grafana
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: horizon-grafana-secret
    app.kubernetes.io/part-of: production-horizon-grafana
stringData:
  GRAFANA_ADMIN_USER_NAME: admin
  GRAFANA_ADMIN_PASSWORD: xxx
  POSTGRES_USER_NAME: grafana_user
  POSTGRES_PASSWORD: xxx
