.hm-footer {
  background-color: transparent;
  padding: 4rem 5rem;
}
.hm-footer .hm-container {
  max-width: 40rem;
}
.hm-footer .hm-copyright {
  color: var(--gray);
  font-size: .8rem;
  transition: all .3s ease;
}
.hm-footer .hm-copyright:hover {
  opacity: .7;
}
