.hm-footer {
  background-color: transparent;
  padding: 4rem 5rem;
}
.hm-footer .hm-copyright {
  color: #888;
  font-size: .8rem;
}
.hm-footer .hm-logo {
  height: 1.5rem;
  transition: all .3s ease;
}
.hm-footer .hm-logo:hover {
  opacity: .7;
}
