---
apiVersion: v1
kind: Secret
metadata:
  name: hm-atlantis-secret
  namespace: production-hm-atlantis
  labels:
    app.kubernetes.io/name: atlantis
    app.kubernetes.io/part-of: production-hm-atlantis
stringData:
  # https://www.runatlantis.io/docs/configuring-webhooks
  github_secret: xxx
  github_token: ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
  username: atlantis_admin_antelope
  password: xxx
