---
apiVersion: v1
kind: Secret
metadata:
  name: hm-open-webui-secret
  namespace: production-hm-open-webui
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-open-webui-secret
    app.kubernetes.io/part-of: production-hm-open-webui
stringData:
  OPENAI_API_KEYS: xxx;xxx
  GOOGLE_CLIENT_SECRET: xxx
