{
  "engine": "postgres",
  "postgres_host": "hm-iot-rds.xxxxxxxxxxxx.us-west-2.rds.amazonaws.com",
  "postgres_port": "5432",
  "postgres_db": "hm_iot_db",
  "postgres_user": "hm_iot_db_readonly",
  "postgres_password": "xxx"
}
