---
apiVersion: v1
kind: Secret
metadata:
  name: hm-cert-manager-cloudflare-secret
  namespace: production-hm-cert-manager
type: Opaque
stringData:
  # https://dash.cloudflare.com/de4af66874ab531bd70d853ea54341ce/api-tokens
  # Edit zone DNS API token for hongbomiao.com
  CLOUDFLARE_API_TOKEN: xxx
