[Unit]
Description=Prefect Agent
After=network.target

[Service]
Type=simple
Environment=PREFECT_API_URL=https://prefect.hongbomiao.com/api
ExecStart={{ ansible_env.HOME }}/pyenv/shims/prefect agent start --work-queue=hm-ubuntu-queue
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
