-----BEGIN CERTIFICATE-----
MIIFSjCCAzKgAwIBAgIUWETrTTaNOcI1oVgbvQwpWn7QPqwwDQYJKoZIhvcNAQEL
BQAwGTEXMBUGA1UEAwwOaG9uZ2JvbWlhby5jb20wHhcNMjAwODA1MDczMTU0WhcN
MzAwODAzMDczMTU0WjAZMRcwFQYDVQQDDA5ob25nYm9taWFvLmNvbTCCAiIwDQYJ
KoZIhvcNAQEBBQADggIPADCCAgoCggIBAKKLtdQCPrTMuHLNc3smYUKNcuUg2D02
G7ekKHJnDSGFDCvXml2CT8WqvJxWIbF0xVyxN7SkuIcxVc3o9He/icuWN3m3qMK1
E1nXSRcppL9ALOCsSUk0tBwm/xFeeac52HMWpl+3QlSXxgS8dHFaOdb2yesFYZ/J
lWIigQojoMsyIo8Jy3FRucSUT8phsyzby/9T3fx3/Lc3QkQr5OVE7O1nAPSdntBc
w6NzlNck/1NZ9cUp2xpCkRdKDq0sysFdBXI7pgB//OQmlJ5rjWCXZNUJVDpOvqFR
xaqnjJnVR7vk8uZv5/XOj/d8QA2GfnWc+7ZC4fFDMOQHj40snWeo8EXmRzdgcEJU
FyTfSEjA5DQ2ghIk8TfHBnTbftQV9zUs2NWA5Gyj2kQdO99NitIQHvAVYPTL9R6z
v8+iBdpCFHm/c0mXfEIW9aiR2JwPGM9rmf3kj8lyqq1k/PR0gevQnjFdCjBOnOq0
0L+/t7qhAWiQ3zQK8M3LUfecx95F3l3R8i3svM+3uz0tiuJk/5+lkKqzmXgHbAg5
OAQ3lGhW/sSzNBQbr5cp9VuJ14MyJZMJ9veUe7pJJkgiFG4e23R1LHLZ0xAGazGU
GDnkZ7LUi7s2DgS896UC7jN+wQ6w8TnOe5N1qBeToYuM2zhG/Lkrn6aed3IMpc+V
TFWKlD38PX85AgMBAAGjgYkwgYYwHQYDVR0OBBYEFLmqaIt9tWqrZyyYr/CmSg1/
gEbxMB8GA1UdIwQYMBaAFLmqaIt9tWqrZyyYr/CmSg1/gEbxMA8GA1UdEwEB/wQF
MAMBAf8wMwYDVR0RBCwwKoIOaG9uZ2JvbWlhby5jb22CEnd3dy5ob25nYm9taWFv
LmNvbYcECgAAATANBgkqhkiG9w0BAQsFAAOCAgEAbQGcez9qbfepP0DB2RcPn0zi
0eAqG2Bb+sR0RDFE3RBIIPnh89jsi6H370823rZj2GrsC7SYmuOR5dnrQRloMMRb
gkB+CcIoU+Oei5arCjdNQhYya7xBPFiOSDe56IJypdjZVM3i+5DzRsIrmVSM3pLe
7EEYSkiaiau8S46IO6oMBNrglEIbHeeUh+atQhV0DhDUQYsYfyI2A5cdc7aQak98
n1keOaBRli0AeTBoOEVhsSbeguT6j/04LqN7TFkO81dH3wT5eHjmeDkDkCuRYU3D
alwlOHlcbqUmRK1eedpg/BBmgwX2Kh/FrAjzC4mB2+hxAFHqwFs3+sXALnoKPXM3
EnvyK1HJ+TpDNKcFkAcjx+eYKpOACCN/YVswLOxM7o8m9ef/9xXed/CATc8PTfta
nlHVTovBhjyXflifIK/MVty6zaNP5l3LyXnkINGaWS7YdMatoKCG2AtVxhmFiQYy
YEQEsJMCMVtMrbeqEGMmjw8MNHLG9lwY/OBRkCRqQ2F12MeBrGnmZ9mEfyuTVpzy
+BWA53lIC75s4pkA+8G70AOmQw7qM7r3osJ7TuHZ928nkMex1Vf73/6hQ3aqDUK+
yFY50RGY3ItF5aYcFgvPQTzdSHfcR1ip/JzpeHkaELyQ0S1C9HyBMik+VFWa4Y0Q
jLMWn8YeUgPzB/fT6lU=
-----END CERTIFICATE-----
