{
  "host": "production-hm-iot-rds.xxxxxxxxxxxx.us-west-2.rds.amazonaws.com",
  "port": "5432",
  "database": "production_hm_iot_db",
  "user_name": "hm_development_hm_iot_db_public_readonly",
  "password": "xxx"
}
