grafana_postgres_bootstrap_user_password  = "xxx"
harbor_postgres_bootstrap_user_password   = "xxx"
mlflow_postgres_bootstrap_user_password   = "xxx"
polaris_postgres_bootstrap_user_password  = "xxx"
skypilot_postgres_bootstrap_user_password = "xxx"
