---
apiVersion: v1
kind: Secret
metadata:
  name: hm-object-storage-browser-secret
  namespace: production-hm-object-storage-browser
  labels:
    app.kubernetes.io/name: hm-object-storage-browser-secret
    app.kubernetes.io/part-of: production-hm-object-storage-browser
stringData:
  # Field names must be exactly "accessKeyID", "secretAccessKey", and "endpoint" (required by csi-s3 driver)
  accessKeyID: xxx
  secretAccessKey: xxx
  endpoint: https://storage.us-central1.nebius.cloud
