---
apiVersion: v1
kind: Secret
metadata:
  name: hm-prefect-server-secret
  namespace: production-hm-prefect-server
  labels:
    app.kubernetes.io/name: prefect-server
    app.kubernetes.io/part-of: production-hm-prefect-server
stringData:
  # Must be "auth-string"
  auth-string: admin:xxx
  # Must be "connection-string"
  connection-string: postgresql+asyncpg://prefect_user:xxx@private-rw.postgresql-xxxxxxxxxxxxxxxxxx.backbone-xxxxxxxxxxxxxxxxxx.msp.us-central1.nebius.cloud:5432/prefect_db
