---
apiVersion: v1
kind: Secret
metadata:
  name: hm-tempo-secret
  namespace: production-hm-tempo
  labels:
    app.kubernetes.io/name: tempo
    app.kubernetes.io/part-of: production-hm-tempo
stringData:
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
