twitter.api.key=
twitter.api.secret.key=
twitter.access.token=
twitter.access.token.secret=
timescaledb.url=jdbc:postgresql://timescale.hm-timescale.svc:5432/twitter_db
timescaledb.username=admin
timescaledb.password=passw0rd
redis.host=redis-headless.hm-redis.svc
redis.port=6379
redis.password=passw0rd
