twitter.api.key=
twitter.api.secret.key=
twitter.access.token=
twitter.access.token.secret=
timescaledb.url=jdbc:postgresql://timescale.hm-timescale:25495/twitter_db
timescaledb.username=admin
timescaledb.password=passw0rd
redis.host=redis-leader-service.hm-redis
redis.port=6379
redis.password=passw0rd
