---
apiVersion: v1
kind: Secret
metadata:
  name: nebius-secret
  namespace: production-hm-skypilot
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: nebius-secret
    app.kubernetes.io/part-of: production-hm-skypilot
stringData:
  # base64 < "$HOME/.nebius/credentials.json"
  credentials.json: xxx
