---
apiVersion: v1
kind: Secret
metadata:
  name: hm-clickhouse-secret
  namespace: production-hm-clickhouse
  labels:
    app.kubernetes.io/name: clickhouse-secret
    app.kubernetes.io/part-of: production-hm-clickhouse
stringData:
  CLICKHOUSE_ADMIN_PASSWORD: xxx
