---
apiVersion: v1
kind: Secret
metadata:
  name: argo-cd-image-updater-harbor-secret
  namespace: production-hm-argo-cd-image-updater
type: Opaque
stringData:
  credentials: robot$hm-kubernetes-robot:xxx
