---
apiVersion: v1
kind: Secret
metadata:
  name: hm-prometheus-prefect-exporter-secret
  namespace: production-hm-prometheus-prefect-exporter
  labels:
    app.kubernetes.io/name: prometheus-prefect-exporter
    app.kubernetes.io/part-of: production-hm-prometheus-prefect-exporter
stringData:
  # https://github.com/PrefectHQ/prefect-helm/blob/main/charts/prometheus-prefect-exporter/values.yaml
  # Must be "auth-string"
  auth-string: admin:xxx
