---
apiVersion: v1
kind: Secret
metadata:
  name: nebius-secret
  namespace: production-hm-skypilot
  labels:
    app.kubernetes.io/name: nebius-secret
    app.kubernetes.io/part-of: production-hm-skypilot
stringData:
  # cat "$HOME/.nebius/credentials.json"
  credentials.json: xxx
