---
apiVersion: v1
kind: Secret
metadata:
  name: vast-secret
  namespace: production-hm-skypilot
  labels:
    app.kubernetes.io/name: vast-secret
    app.kubernetes.io/part-of: production-hm-skypilot
stringData:
  api_key: xxx
