# JWT
JWT_SECRET=secr3t

# Redis
REDIS_HOST=0.0.0.0
REDIS_PORT=6379
REDIS_PASSWORD=""

# PostgreSQL
POSTGRES_HOST=0.0.0.0
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=passw0rd

# Seed user
SEED_USER_EMAIL=me@me.com
SEED_USER_PASSWORD=passw0rd
SEED_USER_FIRST_NAME=Hongbo
SEED_USER_LAST_NAME=Miao
SEED_USER_BIO="Making magic happen"
