# https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file

# Anywhere
**/*.aliases
**/*.asv
**/*.cache
**/*.cf
**/*.ghw
**/*.iml
**/*.lvlps
**/*.mexmaca64
**/*.mexmaci64
**/*.slxc
**/*.tfstate
**/*.unsealed.yaml
**/.DS_Store
**/.env.development.local
**/.env.production.local
**/.gitkeep
**/.idea
**/.pytest_cache
**/.ruff_cache
**/.terraform
**/.vagrant
**/.venv
**/.vscode
**/__pycache__
**/build
**/cmake-build-debug
**/codegen
**/coverage
**/node_modules
**/slprj
**/target

# Directories
.clinic
.stryker-tmp
build
coverage
public
reports
