---
apiVersion: v1
kind: Secret
metadata:
  name: hm-loki-secret
  namespace: production-hm-loki
  labels:
    app.kubernetes.io/name: hm-loki-secret
    app.kubernetes.io/part-of: production-hm-loki
stringData:
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
