.hm-musical-note {
  display: flex;
  flex-direction: column;
}

.hm-play-button {
  cursor: pointer;
  border-color: transparent;
  box-shadow: none;
}

.hm-play-button:hover,
.hm-play-button:focus {
  border-color: transparent;
  box-shadow: none !important;
}
