.hmMusicalNote {
  display: flex;
  flex-direction: column;
}

.hmPlayButton {
  border-color: transparent;
  box-shadow: none;
}

.hmPlayButton:hover,
.hmPlayButton:focus {
  border-color: transparent;
  box-shadow: none !important;
}
