.hm-sparkle-wrapper {
  position: absolute;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .hm-sparkle-wrapper {
    animation: hm-come-in-out 700ms forwards;
  }
}

@keyframes hm-come-in-out {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

.hm-sparkle {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .hm-sparkle {
    animation: hm-spin 1000ms linear;
  }
}

@keyframes hm-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}
