---
apiVersion: v1
kind: Secret
metadata:
  name: hm-apicurio-registry-secret
  namespace: production-hm-apicurio-registry
  labels:
    app.kubernetes.io/name: apicurio-registry-secret
    app.kubernetes.io/part-of: production-hm-apicurio-registry
type: Opaque
stringData:
  username: xxx
  password: xxx
