@import-normalize;
@import '~bulma/css/bulma.css';

@font-face {
  font-family: NeoSansPro;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./shared/fonts/NeoSansProRegular.otf') format('opentype');
}

@font-face {
  font-family: NeoSansPro;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('./shared/fonts/NeoSansProBold.otf') format('opentype');
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: NeoSansPro, sans-serif;

  --gray: #717171;
  --black: #4a4a4a;
}
