@import url('normalize.css');

/* Custom */
@font-face {
  font-family: NeoSansPro;
  font-style: normal;
  font-weight: 400;
  src: url('./shared/fonts/NeoSansProRegular.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: NeoSansPro;
  font-style: normal;
  font-weight: 700;
  src: url('./shared/fonts/NeoSansProBold.otf') format('opentype');
  font-display: swap;
}

#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: NeoSansPro, sans-serif;

  --gray: #717171;
  --black: #4a4a4a;
}
