[
  {
    "Classification": "delta-defaults",
    "Properties": {
      "delta.enabled": "true"
    }
  },
  {
    "Classification": "trino-connector-delta",
    "Properties": {
      "hive.metastore": "glue"
    }
  },
  {
    "Classification": "trino-connector-postgresql",
    "Properties": {
      "connection-url": "jdbc:postgresql://xxx.xxx.us-west-2.rds.amazonaws.com/production_hm_iot_db",
      "connection-user": "xxx",
      "connection-password": "xxx"
    }
  }
]
