@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import-normalize;

#root {
  height: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.15rem;
  --gray: #717171;
}
