---
apiVersion: v1
kind: Secret
metadata:
  name: hm-nimtable-secret
  namespace: production-hm-nimtable
  labels:
    app.kubernetes.io/name: nimtable
    app.kubernetes.io/part-of: production-hm-nimtable
type: Opaque
stringData:
  POSTGRES_PASSWORD: xxx
  NIMTABLE_WEB_DATABASE_URL: postgresql://nimtable_user:xxx@private-rw.postgresql-xxxxxxxxxxxxxxxxxx.backbone-xxxxxxxxxxxxxxxxxx.msp.us-central1.nebius.cloud:5432/nimtable_db
  JWT_SECRET: xxx
  ADMIN_USERNAME: nimtable_admin_parrot
  ADMIN_PASSWORD: xxx
  POLARIS_CREDENTIAL: polaris_admin_oryx:xxx
  AWS_ACCESS_KEY_ID: xxx
  AWS_SECRET_ACCESS_KEY: xxx
