---
apiVersion: v1
kind: Secret
metadata:
  name: hm-harbor-secret
  namespace: production-hm-harbor
  annotations:
    # https://argo-cd.readthedocs.io/en/stable/user-guide/resource_hooks
    argocd.argoproj.io/hook: PreSync
  labels:
    app.kubernetes.io/name: hm-harbor-secret
    app.kubernetes.io/part-of: production-hm-harbor
stringData:
  postgres_user_name: harbor_user
  postgres_password: xxx
