---
apiVersion: v1
kind: Secret
metadata:
  name: hm-starrocks-secret
  namespace: production-hm-starrocks
  labels:
    app.kubernetes.io/name: starrocks
    app.kubernetes.io/part-of: production-hm-starrocks
stringData:
  password: xxx
