[Unit]
Description=Ollama container service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Environment=PATH=/usr/bin:/bin
ExecStartPre=/usr/bin/env docker volume create {{ ollama_volume_name }}
ExecStartPre=/bin/sh -c '/usr/bin/env docker rm --force {{ ollama_container_name }} || true'
ExecStartPre=/usr/bin/env docker pull {{ ollama_docker_image }}
ExecStart=/usr/bin/env docker run \
  --publish={{ ollama_port }}:11434 \
  --name={{ ollama_container_name }} \
  --volume={{ ollama_volume_name }}:{{ ollama_volume_mount }} \
  --detach=false \
  {{ ollama_docker_image }}
ExecStop=/usr/bin/env docker stop {{ ollama_container_name }}
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
