---
apiVersion: v1
kind: Secret
metadata:
  name: speaches-secret
  namespace: production-speaches
  labels:
    app.kubernetes.io/name: speaches
    app.kubernetes.io/part-of: production-speaches
type: Opaque
stringData:
  HF_TOKEN: xxx
