.hmHome {
  display: flex;
  height: 100%;
}

.hmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hmTitle {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.hmContent {
  display: flex;
  align-items: center;
  margin: 10px 0 0 0;
  font-size: 20px;
  white-space: nowrap;
}

.hmText {
  margin: 0 10px;
  color: var(--black);
  transition: all 0.3s ease;
}

.hmText:hover {
  opacity: 0.7;
}
