.hmHome {
  display: flex;
  height: 100%;
}

.hmContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hmTitle {
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.hmContent {
  display: flex;
  font-size: 1.2rem;
  white-space: nowrap;
  align-items: center;
  margin: 0.5rem 0 0 0;
}

.hmText {
  margin: 0 0.6rem;
  color: var(--black);
  transition: all 0.3s ease;
}

.hmText:hover {
  opacity: 0.7;
}
