---
apiVersion: v1
kind: Secret
metadata:
  name: hm-gatus-secret
  namespace: production-hm-gatus
  labels:
    app.kubernetes.io/name: hm-gatus-secret
    app.kubernetes.io/part-of: production-hm-gatus
stringData:
  POSTGRES_USER_NAME: gatus_user
  POSTGRES_PASSWORD: xxx
