---
apiVersion: v1
kind: Secret
metadata:
  name: hm-zitadel-secret
  namespace: production-hm-zitadel
  labels:
    app.kubernetes.io/name: zitadel
    app.kubernetes.io/part-of: production-hm-zitadel
type: Opaque
stringData:
  # Exactly 32 bytes
  masterkey: xxx
  postgres-dsn: postgresql://zitadel_user:xxx@private-rw.postgresql-xxxxxxxxxxxxxxxxxx.backbone-xxxxxxxxxxxxxxxxxx.msp.us-central1.nebius.cloud:5432/zitadel_db?sslmode=require
  config-yaml: |
    FirstInstance:
      Org:
        Human:
          Password: xxx
