# https://docs.docker.com/engine/reference/builder/#dockerignore-file

# Anywhere
**/.DS_Store
**/node_modules

# Directories
.eslintcache
.lighthouseci
build
coverage
public/sitemap.xml
storybook-static
tmp

# .dockerignore specific
**/.env.development.local
**/.env.production.local
