# https://eslint.org/docs/user-guide/configuring/ignoring-code#the-eslintignore-file

# Anywhere
**/*.iml
**/.DS_Store
**/.idea
**/.pytest_cache
**/.vscode
**/__pycache__
**/node_modules

# Directories
.eslintcache
.lighthouseci
build
coverage
public/sitemap.xml
storybook-static
src/shared/libs
tmp
