---
apiVersion: v1
kind: Secret
metadata:
  name: hm-mlflow-secret
  namespace: production-hm-mlflow
  labels:
    app.kubernetes.io/name: mlflow-secret
    app.kubernetes.io/part-of: production-hm-mlflow
stringData:
  mlflow_admin_user_name: admin
  mlflow_admin_password: xxx
  postgres_user_name: mlflow_user
  postgres_password: xxx
